<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>U-M Account Registration</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
        <link rel="stylesheet" href={% static 'css/getUniq.css' %}>
        <link rel="shortcut icon" href={% static 'img/favicon.ico' %}>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107938334-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-107938334-1');
        </script>

    </head>
    <body>
        <!--<header class="navbar" role="banner">full width-->
        <header class="container" role="banner">
            <!--<a href="#"><img src="/static/img/its-logo@3x.png" class="container banner-img img-responsive pull-left" alt="U-M Uniqname & Account Setup"></a>-->
            <a href="#"><img src="/static/img/uniqname-and-account-setup.png" class="container banner-img img-responsive pull-left" alt="U-M Uniqname & Account Setup"></a>
        </header>
        <nav class="container navbar navbar-default" role="banner">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav small">
                <li id="tab-terms"><a><span class="badge">1</span> Agree to Terms </a></li>
                <li id="tab-verify"><a><span class="badge">2</span> Verify Identity </a></li>
                <li id="tab-email"><a><span class="badge">3</span> Check Email </a></li>
                <li id="tab-create"><a><span class="badge">4</span> Set Uniqname </a></li>
                <li id="tab-password"><a><span class="badge">5</span> Set Password </a></li>
              </ul>

            </div>
          </div>
        </nav>
        {% block content %}
        {% endblock content %}

        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascript %}
        {% endblock javascript %}
    </body>

    <footer class="container" role="contentinfo">
        <ul class="footer-links text-center">
            <li><a href="http://www.umich.edu/" title="University of Michigan Homepage"><small>University of Michigan</small></a></li>
            <li>
            <small>&copy; {% now "Y" %} <a href="http://www.umich.edu/~regents/" title="Regents of the University of Michigan">The Regents of the University of Michigan</small></a>
        </ul>
    </footer>
</html>
