{% extends "base.html" %}

{% block content %}

<main id="main" class="container">

  <h1 id="title" class="text-center lead">Set Uniqname</h1>

  <div class="row">
    <div id="grid" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

      <div id="alert-container"></div>

      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      <div class="panel panel-default">
        <div class="panel-body">

          <p>You will use your uniqname when logging in to U-M websites and services. It appears on your Mcard, your MCommunity Directory profile, and many other records, as well as being part of your U-M email address. It is a permanent part of your U-M record, so choose it with care.</p>
          <p>Uniqnames must be made up entirely of alphabetic characters and be 3-8 characters long.</p>
          <br>

          <legend class="h4">Choose from Options We Provide</legend>
          <p>Type your name, and we'll offer some options based on it for you to choose from. Include your middle name or a nickname to allow for more options.</p>

          <form id="id-verifyForm" action="" class="blueForms" method="post" onsubmit="disableSubmitBtn()">
            {% csrf_token %}

            {% if form.errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

          <div id="suggest-group" class="form-group">
            <label class="control-label" for="suggest-field">Your Name:</label>
            <div id="div-suggest" class="form-inline" style="width: 100%;">
              <div class="form-group">
                <input type="text" name="suggest-field" class="form-control" id="suggest-field" size="40" placeholder="Enter name data" value="{{ full_name|default_if_none:"" }}">
              </div>
              <button class="btn btn-blue" id="suggest-btn" type="button">Give Me Options</button>
            </div>
          </div>

          <div id="suggest-div" class="form-group uniqname-suggestions">
            Suggestions:
            <span id="suggestion-list">
              {% if suggestions and suggestions|length > 1 %}
                {% for name in suggestions %}
                  &nbsp;&nbsp;&nbsp;&nbsp;<a role="button">{{ name }}</a>
                {% endfor %}
              {% else %}
                <span class="text-danger">There was a problem generating suggestions</span>
              {% endif %}
            </span>
          </div>

          <br>
          <legend class="h4">Or Request Your Own Alternative</legend>
          <p>Check to see if the uniqname you want is available.</p>

            <div id="desired-uniqname" class="form-group {% if form.uniqname.errors %}has-error{% endif %}">
              <label class="control-label" for="uniqname">Preferred Uniqname:</label>
              <div class="form-inline">
                <div class="col-sm-6" style="padding-left: 0px">
                  <div class="input-group">
                    <input type="text" name="uniqname" class="form-control" id="uniqname" required maxlength="8" size="50" pattern="^[a-zA-Z]{3,8}$" value="{{ form.uniqname.value|default_if_none:"" }}">
                    <span class="input-group-addon">@umich.edu</span>
                  </div>
                <div class="help-block">A-Z only, between 3-8 characters</div>
              </div>

              <button class="btn btn-blue" id="check-btn" type="button">Check Availability</button>
              <button class="btn btn-blue" id="claim-btn" type="button" data-href="modal" data-toggle="modal" data-target="#confirm-submit" disabled>Set Uniqname</button>
            </div>

            <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Confirm Submit</h4>
                    </div>
                    <div class="modal-body">
                      <p>Choosing a uniqname is irreversible.</p>
                      <p>Do you want to claim the uniqname <span id="modal-uid"><span></p>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-blue btn-ok">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        <!--panel-body-->
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/create.js' %}"></script>
{% endblock javascript %}
