{% extends "base.html" %}

{% block content %}
<main id="main" class="container">

  <div class="row">
    <div id="grid" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
     {% endfor %}

     <h1 class="text-center lead">This is a notification</h1>

     <div class="panel panel-default">
     <div class="panel-body">

      <div id="couBox" class="form-group">
        <p class="h4">We don't do OTIDs anymore. Use the new <a href="https://accounts.it.umich.edu/uniqname/terms/" target="_blank"><b>Self-Registration Process</b></a> instead.</p>
      </div>

    </div>
  </div>
</main>

{% endblock %}
