{% extends "base.html" %}

{% block content %}

<main id="main" class="container">

  <h1 id="title" class="text-center lead">Set UMICH Password</h1>

  <div class="row">
    <div id="grid" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      <div class="panel panel-default">
        <div class="panel-body">

          <p><b>Tip:</b> Choose a different password from those you use at non-university websites. Choosing a unique password for U-M use increases your security.</p>
          <p>For reference, see <a href="http://documentation.its.umich.edu/node/240/" target="_blank">Choosing and Changing a Secure UMICH Password.</a></p>

          <form id="id-passwordForm" action="" class="blueForms" method="post" autocomplete="off">
            {% csrf_token %}

            {% if form.errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <div class="row">

              <div class="col-sm-6 col-sm-push-6 form-group">
                <p class="h4">Your new password must:</p>
                <ul style="list-style-type:none; padding-left:0;">
                  <li><span id="min-char" class="glyphicon glyphicon-chevron-right"></span> use 9 or more characters</li>
                  <li><span id="meet3" class="glyphicon glyphicon-chevron-right"></span> have at least 3 of:
                    <ul style="list-style-type:none">
                      <li><span id="lcase" class="glyphicon glyphicon-chevron-right"></span> lowercase letters</li>
                      <li><span id="ucase" class="glyphicon glyphicon-chevron-right"></span> uppercase letters</li>
                      <li><span id="digit" class="glyphicon glyphicon-chevron-right"></span> numerals</li>
                      <li><span id="punc" class="glyphicon glyphicon-chevron-right"></span> punctuation</li>
                   </ul>
                  </li>
                </ul>
              </div>

              <div id="div-password" class="col-sm-6 col-sm-pull-6 form-group">
                <div class="form-group">
                  <label class="control-label" for="password">Password:</label>
                  <input type="password" name="password" id="password" class="textinput textInput form-control" required>
                  <span aria-live="polite"><div id="password-help" class="text-danger" style="visibility:hidden"></div></span>
                  {% if form.password.errors %}
                    <div class="help-block">
                      {% for error in form.password.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div id="div-confirm-password" class="form-group">
                  <label class="control-label" for="confirm-password">Confirm Password:</label>
                  <input type="password" name="confirm_password" class="textinput textInput form-control" required id="confirm-password">
                  <span aria-live="polite"><div id="confirm-help" class="text-danger" style="visibility:hidden">Passwords must match</div></span>
                  {% if form.confirm_password.errors %}
                    <div class="help-block">
                      {% for error in form.confirm_password.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>

            </div>

            <div class="form-actions">
              <button id="submit-btn" class="btn btn-lg btn-blue btn-block" type="submit" disabled>Set Password</button>
            </div>
            <span id="uid" hidden>{{ uid|default_if_none:"" }}</span>
          </form>

        <!--panel-->
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/password.js' %}"></script>
{% endblock javascript %}
