{% extends "base.html" %}

{% block javascript %}
<script>
$(document).ready(function(){
  $('#tab_terms').addClass('active');
});
</script>
{% endblock javascript %}

{% block content %}

<main id="main" class="container">

  <div class="row">
    <!--<div id="grid" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">-->
    <div id="grid" class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">

     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
     {% endfor %}

     <h1 class="text-center lead">Agree to Terms</h1>

     <div class="panel panel-default">
     <div class="panel-body">

      <div id="couBox" class="form-group">
        <p class="h4">By your use of these resources, you agree to abide by <a href="http://spg.umich.edu/policy/601.07" target="_blank"><b>Responsible Use of Information Resources</b></a>, in addition to all relevant state and federal laws.</p>
      </div>

      <form action="" class="blueForms" method="post">
        {% csrf_token %}
        <div class="form-actions">
          <input name="i_agree" class="btn btn-lg btn-blue btn-block" type="submit" value="Accept"/>
        </div>
      </form>

     </div>
     </div>

    </div>
  </div>
</main>

{% endblock %}
