{% extends "base.html" %}

{% block content %}

<main id="main" class="container">

  <h1 id="title" class="text-center lead">Verify Identity</h1>

  <div class="row">
    <div id="grid" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 well well-lg">

      <form id="id-verifyForm" action="" class="blueForms" method="post" onsubmit="disableSubmitBtn()">
        {% csrf_token %}

        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="row">
          <div id="div_id_first_name" class="col-sm-6 form-group {% if form.first_name.errors %}has-error{% endif %}">
            <label class="control-label">First Name:</label>
            <input type="text" name="first_name" class="form-control" required id="id_first_name" placeholder="First Name" value="{{ form.first_name.value|default_if_none:"" }}">
            {% if form.first_name.errors %}
              <div class="help-block">
                {% for error in form.first_name.errors %}
                  {{ error|escape }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div id="div_id_last_name" class="col-sm-6 form-group {% if form.last_name.errors %}has-error{% endif %}">
            <label class="control-label">Last Name:</label>
            <input type="text" name="last_name" class="form-control" required id="id_last_name" placeholder="Last Name" value="{{ form.last_name.value|default_if_none:"" }}">
            {% if form.last_name.errors %}
              <div class="help-block">
                {% for error in form.last_name.errors %}
                  {{ error|escape }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="form-group {% if form.birth_date.errors %}has-error{% endif %}">
          <label class="formLabel">Date of Birth:</label>
          <input type="date" name="birth_date" class="form-control" required id="id_birth_date" placeholder="mm/dd/yyyy" pattern="^\d{1,2}\/\d{1,2}\/\d{4}$" title="mm/dd/yyyy" value="{{ form.birth_date.value|default_if_none:"" }}">
          {% if form.birth_date.errors %}
            <div class="help-block">
              {% for error in form.birth_date.errors %}
                {{ error|escape }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group {% if form.umid.errors %}has-error{% endif %}">
          <label class="formLabel">UMID ( <a href="http://documentation.its.umich.edu/node/668" target="_blank">About your UMID</a> ):</label>
          <input type="number" id="id_umid" name="umid" class="form-control" required pattern="^\d{8}$" min="0" maxlength="8" value="{{ form.umid.value|default_if_none:"" }}" oninput="enforceMaxLength(this); enforcePattern(this)">
          {% if form.umid.errors %}
            <div class="help-block">
              {% for error in form.umid.errors %}
                {{ error|escape }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
          <label class="formLabel">Email:</label>
          <input type="email" name="email" class="form-control" required id="id_email" value="{{ form.email.value|default_if_none:"" }}">
          {% if form.email.errors %}
            <div class="help-block">
              {% for error in form.email.errors %}
                {{ error|escape }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-actions">
          <input id="id_submit_btn" class="btn btn-lg btn-blue btn-block" type="submit" value="Submit" >
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/verify.js' %}"></script>
{% endblock javascript %}
